

.body-container {
  
  .van-cell-group {
    .van-cell:after{}
    .van-cell__value {
      .van-field__body, .van-field__control {
        height: 36px;
        line-height: 36px;
      }
    }
  }
  .form-btn {
    margin: 40px auto 30px;
    .btn-item {
      display: block;
      width: 80%;
      margin: 0 auto;
      border : none;
      height: 48px;
      line-height: 48px;
      background: var( --yu-linear-bg-color );
    }
  }
}
